<% %>
<% this.sort(function(a,b) { return a.name > b.name }); %>
<% if ( this.length == 0 ) { %>
	<%== $.View('//seccubus/workspace/select/views/no_workspaces.ejs') %>
<% } else { %>
	<option selected value=-1 disabled=true>Select a workspace to start</option>
	<% for(var i = 0; i < this.length ; i++) { %>
		<option <%= this[i] %> value='<%= this[i].id %>'>
			<%== $.View('//seccubus/workspace/select/views/workspace.ejs', this[i] )%>
		</option>
	<% } %>
<% } %>
