/* -----------------------------------------------------------------------------
Autonessus stylesheet
--------------------------------------------------------------------------------
 $id: $
----------------------------------------------------------------------------- */
body,td,th {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12px;;
	color: #dddddd;
	color: white;
}

body {;
	background-color: #3DBDE2;
	background-color: grey;
}

a {
	font-family: Georgia, Times New Roman, Times, serif;
	color: #ff9900;
}

a:visited {
	color: #ff9900;
}

a:hover {
	color: #6699cc;
}

a:active {
	color: #6699cc;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: left;
}

th.header {
	background-image: url(../img/unsort.gif);
}

th.headerSortUp {
	background-image: url(../img/asc.gif);
}

th.headerSortDown {
	background-image: url(../img/desc.gif);
}

th {
	cursor: pointer;
}

table,th,td,thead {
	border: 1px solid black;
	background-repeat: no-repeat;
	background-position: center right;
}

tr.s1 {
	background-color: red;
}

tr.s2 {
	background-color: orange;
}

tr.s2 a {
	color: yellow;
}

tr.s3,td.s3 {
	background-color: yellow;
	color: black;
}

tr.s0,tr.s4 {
	
}

h1 {
	color: black;
}

h2 {
	color: black;
}

a {
	cursor: pointer;
}

.changed {
	font-weight: bold;
	color: black;
}