<%# Copyright 2013 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<% var values = [1,2,3,4,5,6,99];
   var names = ["New","Changed","Open","No Issue","Gone","Closed","MASKED"];
%>
<% for(var i = 0;i < values.length;i++) { %>
	<button value=<%= values[i] %> 
		disabled=true
		<% if(sStatus == values[i]) { %>
			class='setStatus selected'
		<% } else { %>
			class='setStatus'
		<% } %>
		>
		<%= names[i] %> (0)
	</button>
<% } %>
<% if ( typeof message != 'undefined' ) { %>
	<br>
	<%= message %>
<% } %>
