<div class='header'>
	<table>
		<thead>
			<tr>
				<td>Loading ...</td>
			</tr>
		</thead>
	</table>
</div>
<div  class='body' style='width: 100%'>
	<div class='innerBody'>
		<table>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>
<div class='footer'></div>


