<tr <%= item%> class='<%= i==0 && !options.renderPartial ? "first-row" : ""%>'>
	
<%$.each(this.options.group, function(i, group){%>
	<td> </td>
<%})%>
<%for(var name in this.options.columns){%>
	<%if($.inArray(name, this.options.group) == -1){%>
		<td>
			<%= this.options.render && this.options.render[name] ?  this.options.render[name](item, i, items) : item[name] %>
		</td>
	<%}%>
<%}%>

</tr>