<% %>

Host:
<select disabled=true filter='host' class='filter hostFilter'>
	<option selected disabled=true>-----</option>
</select>

Hostname:
<select disabled=true filter='hostName' class='filter hostNameFilter'>
	<option selected disabled=true>-----</option>
</select>

Port:
<select disabled=true filter='port' class='filter portFilter'>
	<option selected disabled=true>-----</option>
</select>

Plugin:
<select disabled=true filter='plugin' class='filter pluginFilter'>
	<option selected disabled=true>-----</option>
</select>
<% if( typeof message != "undefined" ) { %><br><%= message %><% } %>
