*.sqlite
*.DS_Store
.*.swp
tmp/
etc/config.xml
errors.txt
Makefile
MANIFEST
MYMETA.json
MYMETA.yml
*.old
*.tar.gz
*.tar
*.bak
blib/
jmvc/seccubus/production.css
jmvc/seccubus/production.js
pm_to_blib
www/seccubus/*
www/steal
junit_output.xml
etc/config.xml
logs