# Databases
*.sqlite

# Mac Stuff
*.DS_Store

# Temp files
.*.swp
tmp/

# Config
etc/config.xml
etc/config.dev.xml
etc/config.issues.xml

# Temporary files used for building
errors.txt
Makefile
MANIFEST
MYMETA.json
MYMETA.yml
*.old
*.tar.gz
*.tar
*.bak
blib/
jmvc/seccubus/production.css
jmvc/seccubus/production.js
pm_to_blib
www/seccubus/*
www/steal
junit_output.xml
etc/config.xml
logs
jmvc/testresults.xml

# Frontend stuff
jspm_packages
node_modules
frontend/build
