html { /* ie7 hack */
	overflow:auto;
}
 

body {font-family: sans-serif,"Trebuchet MS",Verdana,Helvetica,Arial; 
	  margin: 20px 0px 0px 0px; 
      overflow: auto;
	  *overflow:visible;
}
dl {
	margin: 13px;
}
.error {border: solid 1px red;}
.error_text { color: red; font-size: 10px;}
td {padding: 3px; vertical-align: top;}
#top {
	margin:0 20px 20px 20px;
	background-color:rgb(39,49,39);
    
}
.topCorner .left, .bottomCorner .left {
	float: left;
}
.topCorner .right, .bottomCorner .right {
	float: right;
}
.top .topCorner .left {
	background-position: -40px 0px;
}
.top .topCorner .right {
	background-position: -50px 0px;
}
.top .bottomCorner .left {
	background-position: -50px -10px;
}
.top .bottomCorner .right {
	background-position: -40px -10px;
}
#selected .topCorner .left {
	background-position: -60px 0px;
}
#selected .topCorner .right {
	background-position: -70px 0px;
}
#selected .bottomCorner .left {
	background-position: -70px -10px;
}
#selected .bottomCorner .right {
	background-position: -60px -10px;
}
#top .topCorner .left {
	background-position: 0px 0px;
}
#top .topCorner .right {
	background-position: -10px 0px;
}
#top .bottomCorner .left {
	background-position: -10px -10px;
}
#top .bottomCorner .right {
	background-position: 0px -10px;
}
.topCorner div, .bottomCorner div {
	width:10px;
	height:10px;
	background-image: url("images/main_sprite.jpg");
	background-repeat: no-repeat;
}
.topCorner,
.bottomCorner {
	width: 100%;
    height: 10px;
    font-size: 1px;
}
#top .content {
	/*height:34px;*/
	margin:0 10px;
	overflow: auto;
	clear:both;
}
#searchRoundCorners {
	float:left;
	width:273px;
	height:15px;
	padding:0px;
	margin:0px;
	zoom:1;
	display:inline;
	background:  url("images/main_sprite.jpg") no-repeat;
	background-position:0 -20px;
	padding: 7px;
} 
html*#searchRoundCorners { /* ie7 hack */
	padding: 7px;
}
#search {
	width: 243px;
    font-size: 14px;
    font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    float: left;
	border:none;
	background:#FFFFFF;
	outline:none;
	margin-left:10px;
	position:absolute;
	margin: 0 0 0 10px;
	padding: 1px 0;
}
h5 {
	margin-bottom: 0px;padding-bottom: 0px;
}
#defaults {
	float:left;
	font-weight:bold;
	width:400px;
    margin-left: 10px;
	margin-bottom:1px;
    background-color: #2D2E26;
	height:35px;
	line-height:35px;
}
.inside td {
	vertical-align: middle
}
.logo-text a {
	color:white;
	float:right;
	font-family:arial;
	font-size:29px;
	left:-8px;
	position:relative;
	top:-4px;
	text-decoration: none;
	border: none;
}
.logo-text a img {
	border: none;
}
.logo-image {
	left:4px;
	position:relative;
	top:6px;
}
#defaults a {
    color: white;
    /*padding: 0px 10px;*/
	margin:0 1px;
	text-decoration:none;
}
#bottom {
    margin: 0px 20px;
    clear: both;
}
#doc_container {
    overflow: auto;
    background-color: white;
    margin-right: 0px;
	*overflow:visible;
	*height:100%;
}


#doc, #disqus_thread {
	/*line-height:24px;*/
    /*padding: 0 20px 0 0;*/
	margin:0;
}
#left {
    width: 300px;
	min-height:10px;
    float: left;
    /*background-color: #2D2E26;*/ /*#B8B495*/
	/*background-color:rgb(239,242,213);*/
    overflow: auto;
    margin-right: 20px;
}
#left a {
    display: block;
	padding: 5px;
	text-decoration: none;
	font-size: 14px;
    /*color: #F1F1C3;*/
	color:rgb(64,64,56);
    border: none;
    outline: none;
}


#results {
	/*margin:10px 0 0 0;*/
	background-color:rgb(239,242,213);
}
#results .topCorner .left {
	background-position:-20px 0px;
	float:left;
}
#results .topCorner .right {
	background-position: -30px 0px;
	float:right;
}
#results .bottomCorner .left {
	background-position: -30px -10px;
	float:left;
}
#results .bottomCorner .right {
	background-position: -20px -10px;
	float:right;
}
#results .content {
	/*margin:0 10px;*/
	clear:both;
}
#results .highlight, #page_results .highlight {
    /*background-color: #3C3D32;*/
	background-color:rgb(182,220,235);
}
#left .selected {
	font-size:17px;
	font-weight:bold;
	/*background-color: #96A84A;*/
	background-color:rgb(210,217,136);
	/*border-top: solid 1px #AABF54*/
}
#left #selected .spacer {
	height:10px;
	background:white;
}
#left #selected {
	margin:0 0 10px 0;
	background-color:rgb(210,217,136);
}
#left #selected .content {
	margin:0 10px;
	clear:both;
}
#left #selected .content a {
	padding:0;
}
#left .prototype, #left .static {
	color: gray;
}
#left .class, #left .constructor {
	font-weight: bold;
}
#left .attribute {
	color: red;
}
.remove {
	float: right;
	
	display: block;
	
    width: 18px;
    text-align: center;
    height: 18px;
    background-image: url('images/sidebar_top_close.png');
}
#left #results a.picked, #left #page_results a.picked {
	background-color: #AAD1E1;
	/*background-color:rgb(182,220,235);*/
}
#doc .type {
	color:gray;
	font-size:0.8em;
}
#doc .content .type,
#doc .typeEnd {
	display:inline-block;
    font-size: 0.7em; 
	color: #FFFFFF;
	background:url("images/type.png") no-repeat;
	background-position:0 0;
	vertical-align:middle;
	margin-left:-9px;
	margin-bottom:3px;
	*margin-bottom:0px; /* ie7 */
}
#doc .typeEnd {
	display:block;
	line-height:21px;
	background-position:100% 0;
	margin-left:11px;
	padding:0 10px 0 5px;
	float: left;
}
h1 {
	position:relative;
    margin: 0 0 10px;
}
h1 span.subtitle {
	color:#888888;
	font-style:italic;
}
.top {
    margin: 0 0 20px;
	line-height:24px;
	background-color:rgb(195,226,239);
}
.top .content {
	margin:5px 20px 5px 20px;
	clear:both;
}
pre {
    background-image: url('images/pre.png');
    border: solid 1px white;
    margin: 13px;
    padding: 13px;
}
.favorite {
	float:right;
    cursor: pointer;
    background-repeat: no-repeat;
    /*background-position: left 16px;*/
	/* ie7 hacks */
	*position:absolute;
	top:5px;
	right:0;
}
.favoriteon {
    background-image: url(images/fav-on.png);
}
.favoriteoff {
    background-image: url(images/fav-off.png);
}
#low {
	font-size:14px;
	margin-bottom:4px;
	margin-right:20px;
	margin-top:4px;
	text-align:right;
}
#low a{
    color: #999999;
}
#defaults a .red{
    color: #96A84A;
	font-weight:bold;
}
a.logo img{
	border:none;
	
}
.param, .return {
	text-indent: -48px;
	margin-left: 48px;
}        
.param *, .return * {
	text-indent: 0px;
}       
.param label, .return label {
    color:#808080;
    font-size:10pt;
    font-weight:bold;
    margin:0;
}
.options {

margin-left:40px;
margin-right:40px;
text-align:left;
}
.options th {
    border-bottom:1px solid #EEEEEE;
    font-family:"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8em;
}

.options td {
border-bottom:1px solid #EEEEEE;
font-size:10pt;
line-height:150%;
padding:3px;
vertical-align:top;
}

.signiture {
    border-color: #9C6854;
    background: none;
    background-color: white;
}
.params {
    margin-left: 13px;
}



code .comment{ color:#007000;}
.string{ color:Gray;}
.keyword { color:#800080;}
code .params { color:blue; margin: 0px;}
.magic { background-color:#FFF7D7;}
.console { color:blue; }
.this { color:#0000C0; }

table pre {
    margin: 0px;
}

.floatLeft {
    float: left;
}
h2.spaced {
    clear:left; padding-top: 18px;
}
h2 {
	border-bottom: solid 1px	#C3E2EF;
	padding-bottom: 3px;
}
h3 {
	color: /*	rgb(83,135,189)*/ #96A84A;
	font-size: 1.3em;
	margin-bottom: 10px;
}
#download {
    background-image: url(images/main_sprite.jpg);
    width:405px;
    margin-right: 10px;
	background-position:0 -54px;
}
#video {
    background-image: url(images/main_sprite.jpg);
    width:95px;
	background-position:-405px -53px;
}
.big_button{
    color:white;
    display:block;
    font-size:15pt;
    height:85px;
    text-decoration:none;
    float: left;
}
.big_button * {
    display:block;
    font-family: Verdana;
    padding-left:20px;
    padding-top:20px;
}
.big_button .label {
    color:black;
    font-size:10pt;
    padding-top:0;
}
#video * {
    padding-left: 15px;
    
}
.warn {
    margin: 13px; padding: 13px;
    font-size: 11px;
    border: 1px solid #9C6854;
    background-color: #eeeeee;
}
.highlight {
    background-color: #F1F1C3
}
.tip {
    font-size: 0.8em;
    font-family: verdana;
    padding-left: 13px;
}
.noborder {
    border: none;
}
.floatLeft .noborder {
    padding-right: 10px;
}
iframe {
    display:block;
	clear:right;
	width:100%;
	border:1px solid #cccccc;
	padding:0 0 10px 10px;
	margin:10px 0 10px 0;
	background-color:#eeeeee;	
}
.iframe_wrapper {
	border: 1px solid #ffffff;
}
.iframe_menu_button {
	display:block;
	float: right;
	width: 100px 	
	background-color: #cccccc;
	border-top:1px solid #999999;	
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	cursor: pointer;
}
.iframe_menu {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	font-size: 0.7em;
	background-color: #ffffff;
	border:1px solid #999999;
	padding: 5px;
	margin: 0;
}
.iframe_menu_item {
	margin: 5px 2px 0px 2px;
}

/* @demo css
-------------*/

.demo .reset {
	padding: 0;
	margin: 0;
    border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;	
}

.demo .header a {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	font-size: 12px;
	/*background-color: #AABF54;*/
	background-color: #D2D988;
    display: block; 
	padding: .5em .5em .5em 2.2em;
	margin: 0;
	color: #FFFFFF;
    cursor: pointer;
	position: relative;
	margin-top: 1px;
	zoom: 1;	
    /*border: 1px solid #AABF54;*/
	border: 1px solid #D2D988;
	text-decoration: none;	
}

.demo .header .ui-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}

.demo .content {
	border: 1px solid #AABF54;
}

.demo .content iframe {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	border: none;
}

.content pre {
	padding: 0;
	margin: 10px;
	background-image: none;
}

.content pre code {
    font-family: "Courier New";
}

/* states and images */
/*.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }*/


.component {
	margin-right: 12px;
	height: 80px;
	float: left;
}
.whisper {
	color: #96A84A;
	
}

/* menu items */
#defaults .ui-menu {
	height:25px;
	line-height:25px;
	margin: 5px 0px; 
	padding: 0px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	position:absolute;
	z-index:1000;			
}
#defaults .ui-menu-item {
	float: left;
	/*padding:0.5em 1em;*/
	cursor: pointer;
}
#defaults .menuLink,
#defaults .menuSpan {
	display:inline;
	height:25px; 	
	float:left;
	cursor:pointer;
	font-size:16px;
}
#defaults .menuSpan {
	margin-left:10px;
	padding-right:10px;
}
#defaults .menuLink:hover,
#defaults .menuLink:hover .menuSpan {
	background:url("images/menu_button.png");
	background-position:0 0;
}
#defaults .menuLink:hover .menuSpan,
#defaults .menuLink:hover span.red {
	background-position:100% 0;
	color:#FFFFFF;
}
#defaults .ui-sub-menu {
	padding: 5px;	
	background-color: #2D2E26;			
}
#defaults .ui-sub-menu a:link, 
#defaults .ui-sub-menu a:visited,
#defaults .ui-sub-menu a:active {
	color: #ffffff!important;	
}						
#defaults .ui-sub-menu a:hover {
	background-color: #dddddd;
	color: #111111!important;
}
#defaults .ui-sub-menu>li {
	width: 100%;
	height: 15px;
	padding: 5px;
}
#defaults .selected {
	background-color: #dddddd;
}
#defaults .selected>a:link, 
#defaults .selected>a:visited,
#defaults .selected>a:hover,
#defaults .selected>a:active {
	color: #111111!important;
}	
iframe.pluginify{
	border: none;
	background: none;
	margin: 0px;
	height: 2060px;
	padding: 0px;
}
.hrule {
	border-bottom: solid 1px #273127;
	clear: both;
	text-align: center;
	margin: 30px 0px;
	font-size: 1.5em;
}
.hrule span {
	padding: 8px;
	background-color: white;
	position: relative;
	top: 13px;
}
.downloadbutton {
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
	width:370px;
    margin-right: 20px;
	border: solid 2px black;
	 color:white;
    display:block;
    font-size:15pt;
	height: 60px;
	float: left;
	clear: left;
	text-decoration : none;
	
}
.spaceabove {
	margin-top: 20px;
}
p.spaceabove {
	margin-top: 0px;
	position: relative;
	top: 20px;
	float: right;
	width: 185px;
}
.downloadbutton *, .leftmx * {
    display:block;
    font-family: Verdana;
    padding-left:20px;
    padding-top:10px;
	font-size:15pt;
}
.downloadbutton .label, .leftmx .label {
    color:black;
    font-size:10pt;
    padding-top:0;
	text-decoration: none;
}

.funcunit {
	background-color: violet;
}
.steal {
	background-color: gray;
}
.documentjs {
	background-color: blue;
}
#jquerymxouter {
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
	background-color: yellow;
	border: solid 2px black;
	margin-top: 39px;
	padding: 0px;
}
.rightmx {
	float: right;
	width: 200px;
	margin-right: 10px;
	margin-top: 10px;
}
#jquerymxouter a.down{
	padding: 0px;
	border: none;
	background-color: transparent;
	display: inline;
	font-size:10pt;
}
