<% %>
<tbody>
<tr>
	<td><button value=1 disabled=true class='setStatus'>New (0)</button></td>
	<td><button value=2 disabled=true class='setStatus'>Changed (0)</button></td>
	<td><button value=3 disabled=true class='setStatus'>Open (0)</button></td>
	<td><button value=4 disabled=true class='setStatus'>No Issue (0)</button></td>
	<td><button value=5 disabled=true class='setStatus'>Gone (0)</button></td>
	<td><button value=6 disabled=true class='setStatus'>Closed (0)</button></td>
	<td><button value=99 disabled=true class='setStatus'>MASKED (0)</button></td>
</tr>
<% if ( message ) { %>
	<tr>
		<td colspan=7><%= message %></td>
	</tr>
<% } %>
</tbody>
