<% %>
<% var counter = [0,0,0,0,0,0,0];
   counter[99] = 0; 
   var values = [1,2,3,4,5,6,99];
   var names = ["New","Changed","Open","No Issue","Gone","Closed","MASKED"];

   for ( var i = 0; i < this.length ; i++ ) { 
   	if(this[i].isMatch({ 
		scans		: fScans,
		host		: fHost,
		hostName	: fHostName,
		port		: fPort,
		plugin		: fPlugin,
	})) { 
		counter[this[i].status]++; 
	} 
   } %>
<tbody>
	<tr>
		<% for(var i = 0;i < values.length;i++) { %>
			<td><button value=<%= values[i] %> 
				<% if(sStatus == values[i]) { %>
					disabled=true
					class='setStatus selected'
				<% } else { %>
					class='setStatus'
				<% } %>
				>
				<%= names[i] %> (<%= counter[values[i]] %>)
			</button></td>
		<% } %>
	</tr>
</tbody>
