<md-sidenav
	md-component-id="nav-menu"
	md-is-locked-open="$mdMedia('gt-md')"
	class="md-sidenav-left"
	layout="column">
	<md-button ui-sref="seccubus.statusPage">Status</md-button>
	<md-button ui-sref="seccubus.runsPage">Runs</md-button></md-button>
	<md-button ui-sref="seccubus.findingsPage">Findings</md-button>
	<md-button ui-sref="seccubus.sqlPage">Custom SQL</md-button>
	<md-divider></md-divider>
	<md-button ui-sref="seccubus.workspacesPage">Manage Workspaces</md-button>
	<md-button ui-sref="seccubus.scansPage">Manage Scans</md-button>
	<md-button ui-sref="seccubus.assetsPage">Manage Assets</md-button>
</md-sidenav>
