<md-sidenav
	md-component-id="nav-menu"
	md-is-locked-open="$mdMedia('gt-md')"
	class="md-sidenav-left"
	layout="column">

	<md-toolbar hide-gt-md>
		<div class="md-toolbar-tools">
			<md-button ng-disabled class="nav-menu-button">
				<md-icon md-svg-icon="navigation:menu"></md-icon>
			</md-button>
			<h3><span>{{navMenu.currentPage}}</span></h3>
		</div>
	</md-toolbar>

	<md-button ui-sref="seccubus.status">Status</md-button>
	<md-button ui-sref="seccubus.runs">Runs</md-button></md-button>
	<md-button ui-sref="seccubus.findings">Findings</md-button>
	<md-button ui-sref="seccubus.sql">Custom SQL</md-button>
	<md-divider></md-divider>
	<md-button ui-sref="seccubus.workspaces">Manage Workspaces</md-button>
	<md-button ui-sref="seccubus.scans">Manage Scans</md-button>
	<md-button ui-sref="seccubus.assets">Manage Assets</md-button>
</md-sidenav>
