<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Seccubus</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider"></li>
            <li><a href="/news/">News</a></li>
            <li class="divider"></li>
            <li>
                <a href="https://github.com/schubergphilis/Seccubus_v2">Fork on GitHub</a>
            </li>
            <li class="divider"></li>
            <li class="has-form"><a href="https://github.com/schubergphilis/Seccubus_v2/archive/master.zip" class="button">Download</a></li>
        </ul>
    </section>
</nav>
