{% assign navurl = page.url | remove: 'index.html' %}
{% for item in include.nav %}
<li class="divider"></li>
<li class="
    {% if navurl contains item.url %} active{% endif %}
    {% if item.button %} has-form{%endif %}
    {% if item.subitems %} has-dropdown{%endif %}
">
    <a href="{{ item.url }}"{% if item.button %} class="button"{% endif %}>
        {{ item.text }}
    </a>
    {% if item.subitems %}
        <ul class="dropdown">
            {% include nav.html nav=item.subitems %}
        </ul>
    {% endif %}
</li>
{% endfor %}
