// Requirements
// ============

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  column-width: 60px
);

.container {
    @include container(12 center fluid);
}
