$base-font-size: 16px;
$base-line-height: 24px;

$sansFamily: "proxima-nova", "arial";
$sansHeaderFamily: "proxima-nova", "arial";
$serifFamily: "Georgia";
$monospaceFamily: "menlo";

$defaultFamily: $sansFamily;
$headingFamily: $sansHeaderFamily;
$fontColour: #29375a;
$headingColour: #9A0404;
$linkColour: #005D81;
$bgColour: #282828;

$show-grid-backgrounds: true;
$round-to-nearest-half-line: true;
