@include establish-baseline();

* {
    color: $fontColour;
}

p, span, h1, h2{
    font-family: $defaultFamily;
}

p {
    @include margin-trailer(1, $base-font-size);
}

code {
    font-family: $monospaceFamily;
    background-color: #eeebe9;
    display:block;
    padding:1em;
}

h1 {
    font-size: 32px;
    @include adjust-leading-to(3, 32px);
    @include margin-leader(1, 32px);
    color: $headingColour;
    font-family: $headingFamily;
}
