/* Properties that both side lists have in common */
div.menu {
	width: 15em;
	font-size: 80%;
	padding-left: 0%;
	padding-right: 0%;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid white;
}

div.menu h1 {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0px solid white;
}

/* we leave some place on the side using the margin-* properties */
div.main {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 16em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 2em;
	border: 2px solid white;
}

div.main_menu {
	margin-left: 15em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 80%;
	border: 1px solid white;
}

/* and then we put each list on its place */
#scans {
	left: 0;
}

#txtInfo {
	
}

#overlay {
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	display: none;
	margin-top: -10px;
	background: #000;
	color: #FFF;
	padding-top: 2em;
	padding-bottom: 2em;
}

/* format the workspace menu */
ul#workspacemenu {
	position: relative;
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 100%;
	padding-bottom: .5em;
	border: 0px solid white;
}

ul#workspacemenu li {
	display: inline;
	float: left;
	padding: 0em 0.1em;
	border: 0px solid white;
}

ul#workspacemenu li a {
	text-decoration: none;
}

/* format the scan menu */
ul#scanmenu {
	position: relative;
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 100%;
	padding-bottom: .5em;
	border: 0px solid white;
}

ul#scanmenu li {
	display: inline;
	float: left;
	padding: 0em 0.1em;
	border: 0px solid white;
}

ul#scanmenu li a {
	text-decoration: none;
}