<?xml version="1.0" standalone='yes'?>
<seccubus>
	<database>
		<engine>sqlite</engine>
		<database>tmp/seccubus.sqlite</database>
		<host>n/a</host>
		<port>n/a</port>
		<user>n/a</user>
		<password>n/a</password>
	</database>
	<paths>
		<modules>/opt/Seccubus/SeccubusV2</modules>
		<scanners>/opt/Seccubus/scanners</scanners>
		<bindir>/opt/Seccubus/bin</bindir>
		<configdir>/opt/Seccubus/etc</configdir>
		<dbdir>/opt/Seccubus/db</dbdir>
	</paths>
</seccubus>
