<td>&nbsp;</td>
<td><%= Name %></td>
<td><%= ScanCount %></td>
<td><%= LastScan %></td>
<td>
  <% if ( ScanCount != "0" ) { %>
    &nbsp
  <% } else { %>
    <a href='javascript://' class='destroy'>X</a>
  <% } %>
</td>
