.seccubus_tabs { padding: 0px; margin: 0px; }
.seccubus_tabs li { float: left; padding: 8px; background-color: #9D9D9D; list-style: none; cursor: default; margin-left: 3px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-radius: 10px 10px 0 0; }
.seccubus_tabs li:hover { color: #000; background-color: #ddd; cursor: pointer; }
.seccubus_tabs li a { color: #000; font-weight: bold; text-decoration: none; }
.seccubus_tabs li.active { color: #000; background-color: #ddd; cursor: default; border-bottom: 1px solid #ddd; }
.seccubus_tabs li.active:hover { cursor: default; }
.seccubus_tabs li.active a { cursor: default; }
.seccubus_tabs li.disable { color: #000; background-color: #000; cursor: default }
.seccubus_tabs li.disable:hover { cursor: default; }
.seccubus_tabs li.disable a { cursor: default; }

/* clearfix from jQueryUI */
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */​
​
