[submodule "jquery"]
	path = jquery
	url = https://github.com/jupiterjs/jquerymx.git
[submodule "funcunit"]
	path = funcunit
	url = https://github.com/jupiterjs/funcunit
[submodule "documentjs"]
	path = documentjs
	url = https://github.com/jupiterjs/documentjs
[submodule "steal"]
	path = steal
	url = https://github.com/jupiterjs/steal.git
[submodule "mxui"]
	path = mxui
	url = https://github.com/jupiterjs/mxui.git
