.mxui_form_combobox {
	width: 310px;
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #888888;
	height:20px;
	padding:0 0 0 2px;
	line-height:20px;
	vertical-align:top;
}

.mxui_form_combobox input,
.mxui_form_combobox .viewbox {
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	height:16px;
	margin-top:2px;
	margin-top: 0;
	outline:0 none;
	vertical-align:top;
	width:100%;
	padding:0;
}

.mxui_form_combobox .viewbox {
    font-size: 12px;
    /*height: 16px;*/
	/*margin-top: 0;*/
	width: auto !important;
}

.mxui_form_combobox .container {
	margin-right:17px;
}

.mxui_form_combobox .toggle {
	background:url("images/dropdown.png") center no-repeat;
	width:17px;
	float: right;
	cursor: pointer;
}

.mxui_form_combobox_dropdown {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: auto;
}

.mxui_form_combobox_dropdown ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.mxui_form_combobox_dropdown li {
	/*margin: 1px;*/
	/*padding: 3px 0px;*/
	/*cursor: pointer;*/
	/*display: block;*/
	/*border-bottom: 1px solid #cccccc;*/
	width: 100%;
	padding: 0;
	margin: 0;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

*+html .mxui_form_combobox_dropdown li {
	display: inline;
}

.mxui_form_combobox_dropdown .activated {
	background-color: #FFDE58;
}

.mxui_form_combobox_dropdown .activated span {
	font-weight: bold !important;
	font-style: normal !important;
	color: black !important;
}

.mxui_form_combobox_dropdown .selected {
	background-color: orange;
}

.mxui_form_combobox_dropdown .selected span {
	color: white !important;	
}

.mxui_form_combobox_dropdown .disabled .text {
	color: #bbbbbb !important;

}
.mxui_form_combobox_dropdown .disabled {
	border-bottom: 1px solid #cccccc;
	padding: 3px 0;
	display: block;
	width: 100%;
}
.mxui_form_combobox_dropdown .selectable {
	display: block;
	width: 100%;
	margin:0;
	padding: 3px 0;
	border-bottom: 1px solid #cccccc;
    cursor: pointer;
}
*+html .mxui_form_combobox_dropdown ul {
    width:auto !important; /*IE7*/
}

*+html .mxui_form_combobox_dropdown li {
	display: inline;
}

*+html .mxui_form_combobox_dropdown ul .item { /*IE7*/
    display:block; 
    width:auto;
}

.mxui_form_combobox_dropdown .loadingText
{
	font-size:9px;
    padding:4px;
    display:block;	
}

.item-match {
	font-weight: bold;
}