.mxui_layout_resize {
	position: relative;
}
.ui-resizable-s {
	bottom:-3px;
	cursor:s-resize;
	height:7px;
	left:0;
	width:100%;

}
.ui-resizable-e {
	cursor:e-resize;
	height:100%;
	right:-3px;
	top:0;
	width:7px;
	
}
.ui-resizable-se {
	bottom:0px;
	cursor:se-resize;
	height:12px;
	right:0px;
	width:12px;
	background-color: #ddddff;
	z-index: 1000;
}
.ui-resizable-handle {
	display:block;
	font-size:0.1px;
	position:absolute;
	z-index: 1000;
	
}