@import "sprites/sprite-action-black.css";
@import "sprites/sprite-action-white.css";
@import "sprites/sprite-navigation-black.css";
@import "sprites/sprite-navigation-white.css";
[layout] {
  display: flex;
}
[layout=column] {
  flex-direction: column;
}
[layout=row] {
  flex-direction: row;
}
[layout-wrap] {
  flex-wrap: wrap;
}
[flex-order="0"] {
  order: 0;
}
[flex-order="1"] {
  order: 1;
}
[flex-order="2"] {
  order: 2;
}
[flex-order="3"] {
  order: 3;
}
[flex-order="4"] {
  order: 4;
}
[flex-order="5"] {
  order: 5;
}
[flex-order="6"] {
  order: 6;
}
[flex-order="7"] {
  order: 7;
}
[flex-order="8"] {
  order: 8;
}
[flex-order="9"] {
  order: 9;
}
[layout-align="center"],
[layout-align="center center"],
[layout-align="center start"],
[layout-align="center end"] {
  justify-content: center;
}
[layout-align="end"],
[layout-align="end center"],
[layout-align="end start"],
[layout-align="end end"] {
  justify-content: flex-end;
}
[layout-align="space-around"],
[layout-align="space-around center"],
[layout-align="space-around start"],
[layout-align="space-around end"] {
  justify-content: space-around;
}
[layout-align="space-between"],
[layout-align="space-between center"],
[layout-align="space-between start"],
[layout-align="space-between end"] {
  justify-content: space-between;
}
[layout-align="center center"],
[layout-align="start center"],
[layout-align="end center"],
[layout-align="space-between center"],
[layout-align="space-around center"] {
  align-items: center;
}
[layout-align="center start"],
[layout-align="start start"],
[layout-align="end start"],
[layout-align="space-between start"],
[layout-align="space-around start"] {
  align-items: flex-start;
}
[layout-align="center end"],
[layout-align="start end"],
[layout-align="end end"],
[layout-align="space-between end"],
[layout-align="space-around end"] {
  align-items: flex-end;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: none;
}
html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  background: transparent;
  outline: none;
}
select,
button,
textarea,
input {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
input[type="reset"],
input[type="submit"],
html input[type="button"],
button {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="reset"][disabled],
input[type="submit"][disabled],
html input[type="button"][disabled],
button[disabled] {
  cursor: default;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
material-content,
.material-content {
  display: block;
  margin: 20px;
  overflow: visible;
}
.material-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: -100000px;
  background-color: rgba(0, 0, 0, 0);
}
.material-backdrop.material-opened,
.material-backdrop.material-opened-remove {
  transition: background-color 450ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms;
  left: 0;
}
.material-backdrop.material-opened {
  background-color: rgba(0, 0, 0, 0.5);
}
material-divider,
.material-divider {
  display: block;
  height: 1px;
  background-color: #dedede;
  margin: 6px 0;
}
material-icon,
.material-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 0;
}
material-item,
.material-item {
  display: block;
  text-decoration: none;
  font-weight: normal;
  padding: 8px 20px;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  -webkit-user-select: none;
}
material-item:hover,
.material-item:hover {
  background: #f7f7f7;
}
material-item.material-has-icon,
.material-item.material-has-icon {
  padding-left: 64px;
}
material-item > .material-icon,
.material-item > .material-icon {
  position: absolute;
  top: 6px;
  left: 20px;
}
material-item > .material-text,
.material-item > .material-text {
  line-height: 20px;
}
material-title,
.material-title {
  display: block;
  text-align: left;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  margin: 20px;
  -webkit-user-select: none;
}
material-title h2,
.material-title h2 {
  display: inline;
  font-size: 0.7em;
  margin-left: 20px;
  color: #ababab;
  font-weight: normal;
}
material-title.material-has-icon,
.material-title.material-has-icon {
  padding-left: 64px;
}
material-title.material-has-icon > .material-icon,
.material-title.material-has-icon > .material-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}
material-title material-subtitle,
.material-title material-subtitle,
material-title .material-subtitle,
.material-title .material-subtitle {
  display: block;
  text-align: left;
  font-weight: 300;
  font-size: 0.7em;
  line-height: 0.7em;
  margin-top: 6px;
  opacity: 0.6;
}
material-button,
.material-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  padding: 6px;
  background: transparent;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  user-select: none;
  line-height: 24px;
  font-size: 1.1em;
  transition: box-shadow 450ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 450ms cubic-bezier(0.25, 0.8, 0.25, 1), transform 450ms cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 3px;
}
material-button .material-icon,
.material-button .material-icon {
  display: block;
}
material-button .material-text,
.material-button .material-text {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
material-button:not([disabled]):hover,
.material-button:not([disabled]):hover,
material-button:not([disabled]):focus,
.material-button:not([disabled]):focus {
  background-color: rgba(0, 0, 0, 0.08);
}
material-button.material-cornered,
.material-button.material-cornered {
  border-radius: 0;
}
material-button.material-primary .material-text,
.material-button.material-primary .material-text {
  color: #0288d1;
}
material-button.material-warn .material-text,
.material-button.material-warn .material-text {
  color: #ef5350;
}
material-button.material-raised,
.material-button.material-raised {
  transform: translateY(0);
}
material-button.material-raised:not([disabled]),
.material-button.material-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
material-button.material-raised,
.material-button.material-raised,
material-button.material-fab,
.material-button.material-fab {
  background-color: rgba(0, 0, 0, 0.1);
}
material-button.material-raised:not([disabled]):hover,
.material-button.material-raised:not([disabled]):hover,
material-button.material-fab:not([disabled]):hover,
.material-button.material-fab:not([disabled]):hover,
material-button.material-raised:not([disabled]):focus,
.material-button.material-raised:not([disabled]):focus,
material-button.material-fab:not([disabled]):focus,
.material-button.material-fab:not([disabled]):focus {
  background-color: rgba(0, 0, 0, 0.2);
}
material-button.material-raised.material-primary,
.material-button.material-raised.material-primary,
material-button.material-fab.material-primary,
.material-button.material-fab.material-primary {
  background-color: #03a9f4;
}
material-button.material-raised.material-primary .material-text,
.material-button.material-raised.material-primary .material-text,
material-button.material-fab.material-primary .material-text,
.material-button.material-fab.material-primary .material-text {
  color: #fff;
}
material-button.material-raised.material-primary:not([disabled]):hover,
.material-button.material-raised.material-primary:not([disabled]):hover,
material-button.material-fab.material-primary:not([disabled]):hover,
.material-button.material-fab.material-primary:not([disabled]):hover,
material-button.material-raised.material-primary:not([disabled]):focus,
.material-button.material-raised.material-primary:not([disabled]):focus,
material-button.material-fab.material-primary:not([disabled]):focus,
.material-button.material-fab.material-primary:not([disabled]):focus {
  background-color: #0288d1;
}
material-button.material-raised.material-warn,
.material-button.material-raised.material-warn,
material-button.material-fab.material-warn,
.material-button.material-fab.material-warn {
  background-color: #ef5350;
}
material-button.material-raised.material-warn .material-text,
.material-button.material-raised.material-warn .material-text,
material-button.material-fab.material-warn .material-text,
.material-button.material-fab.material-warn .material-text {
  color: #fff;
}
material-button.material-raised.material-warn:not([disabled]):hover,
.material-button.material-raised.material-warn:not([disabled]):hover,
material-button.material-fab.material-warn:not([disabled]):hover,
.material-button.material-fab.material-warn:not([disabled]):hover,
material-button.material-raised.material-warn:not([disabled]):focus,
.material-button.material-raised.material-warn:not([disabled]):focus,
material-button.material-fab.material-warn:not([disabled]):focus,
.material-button.material-fab.material-warn:not([disabled]):focus {
  background-color: #eb2521;
}
material-button:not([disabled]).material-raised:focus,
.material-button:not([disabled]).material-raised:focus,
material-button:not([disabled]).material-fab:focus,
.material-button:not([disabled]).material-fab:focus,
material-button:not([disabled]).material-raised:hover,
.material-button:not([disabled]).material-raised:hover,
material-button:not([disabled]).material-fab:hover,
.material-button:not([disabled]).material-fab:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
material-button.material-fab,
.material-button.material-fab {
  overflow: hidden;
  z-index: 1;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: translateY(0);
  transition: 0.2s linear;
  transition-property: transform, box-shadow;
}
material-button.material-fab.material-fab-bottom-right,
.material-button.material-fab.material-fab-bottom-right {
  top: auto;
  right: 28px;
  bottom: 28px;
  left: auto;
  position: absolute;
}
material-button.material-fab.material-fab-bottom-left,
.material-button.material-fab.material-fab-bottom-left {
  top: auto;
  right: auto;
  bottom: 28px;
  left: 28px;
  position: absolute;
}
material-button.material-fab.material-fab-top-right,
.material-button.material-fab.material-fab-top-right {
  top: 28px;
  right: 28px;
  bottom: auto;
  left: auto;
  position: absolute;
}
material-button.material-fab.material-fab-top-left,
.material-button.material-fab.material-fab-top-left {
  top: 28px;
  right: auto;
  bottom: auto;
  left: 28px;
  position: absolute;
}
material-button[disabled],
.material-button[disabled],
material-button.material-raised[disabled],
.material-button.material-raised[disabled],
material-button.material-fab[disabled],
.material-button.material-fab[disabled] {
  background-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}
material-buttonbar,
.material-buttonbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
}
material-buttonbar material-button,
.material-buttonbar material-button,
material-buttonbar .material-button,
.material-buttonbar .material-button {
  margin-left: 10px;
}
material-toolbar,
.material-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  background-color: #03a9f4;
}
material-toolbar > material-title,
.material-toolbar > material-title,
material-toolbar > .material-title,
.material-toolbar > .material-title {
  color: #fff;
  flex: 1;
}
material-toolbar > *,
.material-toolbar > * {
  margin-left: 10px;
}
material-toolbar > :last-child,
.material-toolbar > :last-child {
  margin-right: 10px;
}
.material-toolbar-blank {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
.material-toolbar-blank material-title,
.material-toolbar-blank .material-title {
  color: #1a1a1a;
}
material-appbar,
.material-appbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  background-color: #03a9f4;
  background-color: #01579b;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
material-appbar > material-title,
.material-appbar > material-title,
material-appbar > .material-title,
.material-appbar > .material-title {
  color: #fff;
  flex: 1;
}
material-appbar > *,
.material-appbar > * {
  margin-left: 10px;
}
material-appbar > :last-child,
.material-appbar > :last-child {
  margin-right: 10px;
}
material-appbar material-title,
.material-appbar material-title,
material-appbar .material-title,
.material-appbar .material-title {
  margin: 20px 0;
}
material-appbar material-button,
.material-appbar material-button,
material-appbar .material-button,
.material-appbar .material-button {
  color: #fff;
}
material-card,
.material-card {
  display: block;
  background-color: white;
  margin: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px inset, rgba(0, 0, 0, 0.03) 0px -1px 0px inset, 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
material-card material-toolbar,
.material-card material-toolbar,
material-card .material-toolbar,
.material-card .material-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
material-card material-toolbar material-title,
.material-card material-toolbar material-title,
material-card .material-toolbar material-title,
.material-card .material-toolbar material-title,
material-card material-toolbar .material-title,
.material-card material-toolbar .material-title,
material-card .material-toolbar .material-title,
.material-card .material-toolbar .material-title {
  color: #1a1a1a;
}
material-card material-title,
.material-card material-title,
material-card .material-title,
.material-card .material-title {
  display: block;
  color: #01579b;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
}
material-card li,
.material-card li {
  list-style: none;
  margin: 0;
  padding: 0;
}
material-card p,
.material-card p {
  margin: 0;
  padding: 20px;
}
material-card material-content:last-child,
.material-card material-content:last-child,
material-card .material-content:last-child,
.material-card .material-content:last-child {
  padding-bottom: 20px;
}
material-tabs,
.material-tabs {
  display: block;
}
material-tabs .material-tabs-bar,
.material-tabs .material-tabs-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 48px;
  background-color: #03a9f4;
  font-weight: 500;
}
material-tabs[center] .material-tabs-bar,
.material-tabs[center] .material-tabs-bar {
  justify-content: center;
}
material-tabs material-tab,
.material-tabs material-tab,
material-tabs .material-tab,
.material-tabs .material-tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  min-width: 120px;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  border-bottom: 2px solid transparent;
}
material-tabs material-tab.material-tab-active,
.material-tabs material-tab.material-tab-active,
material-tabs .material-tab.material-tab-active,
.material-tabs .material-tab.material-tab-active {
  color: #fff;
  border-bottom-color: #ffeb3b;
}
material-tabs material-tab[disabled],
.material-tabs material-tab[disabled],
material-tabs .material-tab[disabled],
.material-tabs .material-tab[disabled] {
  pointer-events: none;
  cursor: default;
}
material-tabs material-tab material-tab-label,
.material-tabs material-tab material-tab-label,
material-tabs .material-tab material-tab-label,
.material-tabs .material-tab material-tab-label,
material-tabs material-tab .material-tab-label,
.material-tabs material-tab .material-tab-label,
material-tabs .material-tab .material-tab-label,
.material-tabs .material-tab .material-tab-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
}
material-tabs .material-tabs-content,
.material-tabs .material-tabs-content {
  overflow: hidden;
  position: relative;
}
material-tabs .material-tabs-content .material-tabcontent,
.material-tabs .material-tabs-content .material-tabcontent {
  opacity: 0;
  position: absolute;
  left: -10000px;
}
material-tabs .material-tabs-content .material-tabcontent.material-opened,
.material-tabs .material-tabs-content .material-tabcontent.material-opened {
  transition: opacity 0.4s;
  position: relative;
  opacity: 1;
  left: 0;
}
material-tabs.material-tabs-blank .material-tabs-bar,
.material-tabs.material-tabs-blank .material-tabs-bar {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
material-tabs.material-tabs-blank .material-tabs-bar material-tab,
.material-tabs.material-tabs-blank .material-tabs-bar material-tab,
material-tabs.material-tabs-blank .material-tabs-bar .material-tab,
.material-tabs.material-tabs-blank .material-tabs-bar .material-tab {
  color: rgba(0, 0, 0, 0.5);
}
material-tabs.material-tabs-blank .material-tabs-bar material-tab.material-tab-active,
.material-tabs.material-tabs-blank .material-tabs-bar material-tab.material-tab-active,
material-tabs.material-tabs-blank .material-tabs-bar .material-tab.material-tab-active,
.material-tabs.material-tabs-blank .material-tabs-bar .material-tab.material-tab-active {
  color: #000;
  border-bottom-color: #03a9f4;
}
.material-dialog-wrap {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.material-dialog-wrap.material-opened {
  display: flex;
}
.material-dialog-wrap .material-backdrop {
  z-index: 4;
}
.material-dialog {
  z-index: 4;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0;
  background-color: #fff;
  min-width: 260px;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transform: scale(0, 0);
  opacity: 0;
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms;
}
.material-dialog.material-opened,
.material-dialog.material-opened-remove {
  transform: scale(1, 1);
}
.material-dialog.material-opened {
  opacity: 1;
}
.material-dialog material-title,
.material-dialog .material-title {
  color: #01579b;
}
material-menu,
.material-menu {
  display: block;
  position: absolute;
  z-index: 3;
  top: -10000px;
  min-width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 6px;
  border-color: #dedede;
  border-style: solid;
  border-width: 1px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
material-menu.material-opened,
.material-menu.material-opened,
material-menu.material-opened-remove,
.material-menu.material-opened-remove {
  top: 0;
}
material-menu material-title,
.material-menu material-title,
material-menu .material-title,
.material-menu .material-title {
  color: #01579b;
  border-bottom: 1px solid #f7f7f7;
  margin: 0;
  padding: 20px;
}
material-menu material-item:first-of-type,
.material-menu material-item:first-of-type,
material-menu .material-item:first-of-type,
.material-menu .material-item:first-of-type {
  margin-top: 5px;
}
material-menu material-item .material-icon,
.material-menu material-item .material-icon,
material-menu .material-item .material-icon,
.material-menu .material-item .material-icon {
  display: none;
}
material-menu.material-menu-has-icons material-item,
.material-menu.material-menu-has-icons material-item,
material-menu.material-menu-has-icons .material-item,
.material-menu.material-menu-has-icons .material-item {
  padding-left: 64px;
}
material-menu.material-menu-has-icons material-item .material-icon,
.material-menu.material-menu-has-icons material-item .material-icon,
material-menu.material-menu-has-icons .material-item .material-icon,
.material-menu.material-menu-has-icons .material-item .material-icon {
  display: block;
}
material-menu material-checkbox,
.material-menu material-checkbox,
material-menu .material-checkbox,
.material-menu .material-checkbox {
  padding: 8px 20px;
}
material-menu material-checkbox .material-text,
.material-menu material-checkbox .material-text,
material-menu .material-checkbox .material-text,
.material-menu .material-checkbox .material-text {
  width: auto;
  min-width: 0;
  flex: 0;
  line-height: 24px;
  white-space: nowrap;
}
material-menu-button,
.material-menu-button {
  display: block;
  position: relative;
}
material-menu-button > material-menu,
.material-menu-button > material-menu,
material-menu-button > .material-menu,
.material-menu-button > .material-menu {
  right: 0;
  transition: opacity 450ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms;
  opacity: 0;
}
material-menu-button > material-menu.material-opened,
.material-menu-button > material-menu.material-opened,
material-menu-button > .material-menu.material-opened,
.material-menu-button > .material-menu.material-opened {
  opacity: 1;
}
material-sidenav-button,
.material-sidenav-button {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0;
}
material-sidenav-button > material-button,
.material-sidenav-button > material-button,
material-sidenav-button > .material-button,
.material-sidenav-button > .material-button {
  margin: 12px;
}
material-sidenav-button material-menu,
.material-sidenav-button material-menu,
material-sidenav-button .material-menu,
.material-sidenav-button .material-menu {
  border-top-width: 0px;
  left: 0;
  min-width: 260px;
  transition: transform 450ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms;
  transform: translateX(-260px);
}
material-sidenav-button material-menu.material-opened,
.material-sidenav-button material-menu.material-opened,
material-sidenav-button .material-menu.material-opened,
.material-sidenav-button .material-menu.material-opened {
  transform: translateX(0);
}
material-sidenav-button material-menu material-item,
.material-sidenav-button material-menu material-item,
material-sidenav-button .material-menu material-item,
.material-sidenav-button .material-menu material-item,
material-sidenav-button material-menu .material-item,
.material-sidenav-button material-menu .material-item,
material-sidenav-button .material-menu .material-item,
.material-sidenav-button .material-menu .material-item {
  padding: 18px 32px;
  font-weight: 500;
  color: #222;
  font-size: 16px;
}
material-sidenav-button material-menu material-item:hover,
.material-sidenav-button material-menu material-item:hover,
material-sidenav-button .material-menu material-item:hover,
.material-sidenav-button .material-menu material-item:hover,
material-sidenav-button material-menu .material-item:hover,
.material-sidenav-button material-menu .material-item:hover,
material-sidenav-button .material-menu .material-item:hover,
.material-sidenav-button .material-menu .material-item:hover {
  color: #444;
}
material-datepicker,
.material-datepicker {
  display: block;
  width: 272px;
  background-color: #fff;
}
.material-datepicker-date h4 {
  background-color: #01579b;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  text-align: center;
  margin: 0;
}
.material-datepicker-date h1,
.material-datepicker-date h2,
.material-datepicker-date h3 {
  cursor: pointer;
  background-color: #03a9f4;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-align: center;
  font-weight: 500;
}
.material-datepicker-date h1.view-active,
.material-datepicker-date h2.view-active,
.material-datepicker-date h3.view-active {
  color: #fff;
}
.material-datepicker-date h2 {
  padding-top: 12px;
  font-size: 24px;
  text-transform: uppercase;
}
.material-datepicker-date h1 {
  font-size: 52px;
  padding-top: 2px;
}
.material-datepicker-date h3 {
  font-size: 22px;
  padding: 4px 0 12px;
}
.material-datepicker-view {
  height: 252px;
  overflow: auto;
  margin: 10px;
}
.material-datepicker-view table {
  display: block;
  width: 252px;
  border-spacing: 0;
  overflow: hidden;
}
.material-datepicker-view tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.material-datepicker-view tr th,
.material-datepicker-view tr td {
  display: block;
  width: 36px;
  height: 36px;
}
.material-datepicker-view th {
  color: #787878;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
}
.material-datepicker-view td .material-button {
  color: #000;
  height: 36px;
  width: 36px;
  border-radius: 18px;
}
.material-datepicker-view td .material-button .material-text {
  pointer-events: none;
}
.material-datepicker-view td .material-button.date-active {
  background-color: #03a9f4;
  color: #fff;
  transition: none;
}
.material-datepicker-view td .material-button[disabled] {
  color: #c4c4c4;
}
.material-datepicker-view ul,
.material-datepicker-view li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.material-datepicker-view li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.material-datepicker-view li .material-button {
  min-width: 160px;
}
.material-datepicker-bar {
  height: 46px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.material-datepicker-bar button {
  margin-right: 26px;
}
material-datefield,
.material-datefield {
  display: block;
  position: relative;
}
material-datefield .material-datefield-mask,
.material-datefield .material-datefield-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
material-input-group,
.material-input-group {
  padding-bottom: 2px;
  margin-bottom: 8px;
  position: relative;
  display: block;
}
material-input-group label,
.material-input-group label {
  transform: translateY(22px);
  transform-origin: left center;
}
material-input-group label,
.material-input-group label {
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
material-input-group input,
.material-input-group input,
material-input-group textarea,
.material-input-group textarea {
  border-bottom-width: 1px;
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
material-input-group textarea,
.material-input-group textarea,
material-input-group input[type="text"],
.material-input-group input[type="text"],
material-input-group input[type="password"],
.material-input-group input[type="password"],
material-input-group input[type="datetime"],
.material-input-group input[type="datetime"],
material-input-group input[type="datetime-local"],
.material-input-group input[type="datetime-local"],
material-input-group input[type="date"],
.material-input-group input[type="date"],
material-input-group input[type="month"],
.material-input-group input[type="month"],
material-input-group input[type="time"],
.material-input-group input[type="time"],
material-input-group input[type="week"],
.material-input-group input[type="week"],
material-input-group input[type="number"],
.material-input-group input[type="number"],
material-input-group input[type="email"],
.material-input-group input[type="email"],
material-input-group input[type="url"],
.material-input-group input[type="url"],
material-input-group input[type="search"],
.material-input-group input[type="search"],
material-input-group input[type="tel"],
.material-input-group input[type="tel"],
material-input-group input[type="color"],
.material-input-group input[type="color"] {
  display: block;
  border-width: 0 0 1px 0;
  padding-top: 2px;
  line-height: 26px;
  padding-bottom: 1px;
  width: 100%;
}
material-input-group textarea:focus,
.material-input-group textarea:focus,
material-input-group input[type="text"]:focus,
.material-input-group input[type="text"]:focus,
material-input-group input[type="password"]:focus,
.material-input-group input[type="password"]:focus,
material-input-group input[type="datetime"]:focus,
.material-input-group input[type="datetime"]:focus,
material-input-group input[type="datetime-local"]:focus,
.material-input-group input[type="datetime-local"]:focus,
material-input-group input[type="date"]:focus,
.material-input-group input[type="date"]:focus,
material-input-group input[type="month"]:focus,
.material-input-group input[type="month"]:focus,
material-input-group input[type="time"]:focus,
.material-input-group input[type="time"]:focus,
material-input-group input[type="week"]:focus,
.material-input-group input[type="week"]:focus,
material-input-group input[type="number"]:focus,
.material-input-group input[type="number"]:focus,
material-input-group input[type="email"]:focus,
.material-input-group input[type="email"]:focus,
material-input-group input[type="url"]:focus,
.material-input-group input[type="url"]:focus,
material-input-group input[type="search"]:focus,
.material-input-group input[type="search"]:focus,
material-input-group input[type="tel"]:focus,
.material-input-group input[type="tel"]:focus,
material-input-group input[type="color"]:focus,
.material-input-group input[type="color"]:focus {
  outline: 0;
}
material-input-group input,
.material-input-group input,
material-input-group textarea,
.material-input-group textarea {
  color: #333333;
  border-color: #c4c4c4;
  font-size: 14px;
  font-weight: 500;
  background: none;
}
material-input-group input:-ms-input-placeholder,
.material-input-group input:-ms-input-placeholder,
material-input-group textarea:-ms-input-placeholder,
.material-input-group textarea:-ms-input-placeholder {
  color: #c4c4c4;
}
material-input-group input::-webkit-input-placeholder,
.material-input-group input::-webkit-input-placeholder,
material-input-group textarea::-webkit-input-placeholder,
.material-input-group textarea::-webkit-input-placeholder {
  color: #c4c4c4;
}
material-input-group label,
.material-input-group label {
  display: block;
  font-size: 14px;
  z-index: 1;
  pointer-events: none;
  color: #c4c4c4;
}
material-input-group label:hover,
.material-input-group label:hover {
  cursor: text;
}
material-input-group.material-input-focused label,
.material-input-group.material-input-focused label {
  transform: translateY(4px) scale(0.85);
}
material-input-group.material-input-focused input,
.material-input-group.material-input-focused input,
material-input-group.material-input-focused textarea,
.material-input-group.material-input-focused textarea {
  border-bottom-width: 2px;
}
material-input-group.material-input-focused input,
.material-input-group.material-input-focused input,
material-input-group.material-input-focused textarea,
.material-input-group.material-input-focused textarea {
  color: #000;
  border-color: #0288d1;
}
material-input-group.material-input-focused label,
.material-input-group.material-input-focused label {
  color: #0288d1;
}
material-input-group.material-input-focused input,
.material-input-group.material-input-focused input {
  padding-bottom: 0px;
}
material-input-group:not(.material-input-focused) input.ng-touched.ng-invalid,
.material-input-group:not(.material-input-focused) input.ng-touched.ng-invalid,
material-input-group:not(.material-input-focused) textarea.ng-touched.ng-invalid,
.material-input-group:not(.material-input-focused) textarea.ng-touched.ng-invalid {
  border-color: #d32f2f;
}
material-input-group.material-input-has-value label,
.material-input-group.material-input-has-value label {
  transform: translateY(4px) scale(0.85);
}
material-input-group.material-input-has-value:not(.material-input-focused) label,
.material-input-group.material-input-has-value:not(.material-input-focused) label {
  transform: translateY(4px) scale(0.85);
}
material-input-group.material-input-has-value:not(.material-input-focused) label,
.material-input-group.material-input-has-value:not(.material-input-focused) label {
  color: #c4c4c4;
}
material-input-group[disabled] input,
.material-input-group[disabled] input,
material-input-group[disabled] textarea,
.material-input-group[disabled] textarea {
  border-bottom-width: 0;
}
material-input-group[disabled] input,
.material-input-group[disabled] input,
material-input-group[disabled] textarea,
.material-input-group[disabled] textarea {
  background-size: 5px 1px;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  pointer-events: none;
  border-bottom-color: #c4c4c4;
  color: #c4c4c4;
  background-image: linear-gradient(to right, #c4c4c4 0%, #c4c4c4 50%, rgba(0, 0, 0, 0) 0%);
}
material-searchfield,
.material-searchfield {
  display: block;
  position: relative;
}
material-searchfield .material-searchfield-search,
.material-searchfield .material-searchfield-search {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}
material-searchfield .material-searchfield-clear,
.material-searchfield .material-searchfield-clear {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: none;
}
material-searchfield.material-input-has-value .material-searchfield-clear,
.material-searchfield.material-input-has-value .material-searchfield-clear {
  display: block;
}
material-searchfield input,
.material-searchfield input {
  color: rgba(0, 0, 0, 0.7);
  border: none;
  background: transparent;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  display: inline-block;
  margin: 0;
  padding: 0 34px;
  font-weight: 300;
}
material-searchfield input:-ms-input-placeholder,
.material-searchfield input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
material-searchfield input::-webkit-input-placeholder,
.material-searchfield input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
material-searchfield.material-input-focused input,
.material-searchfield.material-input-focused input {
  color: #000;
}
material-searchfield.material-searchfield-blank input,
.material-searchfield.material-searchfield-blank input {
  color: rgba(255, 255, 255, 0.7);
}
material-searchfield.material-searchfield-blank input:-ms-input-placeholder,
.material-searchfield.material-searchfield-blank input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
material-searchfield.material-searchfield-blank input::-webkit-input-placeholder,
.material-searchfield.material-searchfield-blank input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
material-searchfield.material-searchfield-blank.material-input-focused input,
.material-searchfield.material-searchfield-blank.material-input-focused input {
  color: #fff;
}
material-checkbox,
.material-checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 8px;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
}
material-checkbox .material-checkbox-container,
.material-checkbox .material-checkbox-container {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  margin: 3px;
}
material-checkbox .material-checkbox-icon,
.material-checkbox .material-checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 2px;
  transition: all 250ms;
}
material-checkbox.material-checkbox-checked .material-checkbox-icon,
.material-checkbox.material-checkbox-checked .material-checkbox-icon {
  border: none;
  background-color: #03a9f4;
}
material-checkbox.material-checkbox-checked .material-checkbox-icon:after,
.material-checkbox.material-checkbox-checked .material-checkbox-icon:after {
  position: absolute;
  left: 6px;
  top: 2px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transform: rotate(45deg);
}
material-checkbox .material-text,
.material-checkbox .material-text {
  flex: 1;
  display: block;
  border: none;
  pointer-events: none;
  white-space: normal;
  vertical-align: middle;
  margin-left: 20px;
  line-height: 20px;
  text-align: justify;
}
material-checkbox:focus .material-text,
.material-checkbox:focus .material-text {
  border-color: #000;
}
material-checkbox[disabled],
.material-checkbox[disabled] {
  cursor: no-drop;
}
material-checkbox[disabled] .material-checkbox-icon,
.material-checkbox[disabled] .material-checkbox-icon {
  border-color: #dedede;
}
material-checkbox[disabled].material-checkbox-checked .material-checkbox-icon,
.material-checkbox[disabled].material-checkbox-checked .material-checkbox-icon {
  background-color: #dedede;
}
material-selectfield,
.material-selectfield {
  display: block;
  position: relative;
}
material-selectfield material-select,
.material-selectfield material-select,
material-selectfield .material-select,
.material-selectfield .material-select {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
material-menu.material-select-menu,
.material-menu.material-select-menu {
  min-width: 0;
  transition: transform 200ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms;
  transform: scale(1, 0);
  transform-origin: center 24px;
}
material-menu.material-select-menu.material-opened,
.material-menu.material-select-menu.material-opened {
  transform: scale(1, 1);
}
material-menu.material-select-menu material-item .material-text,
.material-menu.material-select-menu material-item .material-text {
  line-height: 26px;
}
.material-drawer-wrap {
  width: 100%;
}
.material-drawer-wrap .material-backdrop {
  z-index: 2;
}
material-drawer,
.material-drawer {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}
material-drawer.material-opened,
.material-drawer.material-opened,
material-drawer.material-opened-remove,
.material-drawer.material-opened-remove {
  transition: transform 450ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms;
}
material-drawer.material-drawer-left.material-opened,
.material-drawer.material-drawer-left.material-opened {
  transform: translateX(0);
}
material-drawer.material-drawer-right,
.material-drawer.material-drawer-right {
  left: 100%;
  transform: translateX(0);
}
material-drawer.material-drawer-right.material-opened,
.material-drawer.material-drawer-right.material-opened {
  transform: translateX(-100%);
}
material-drawer material-title,
.material-drawer material-title,
material-drawer .material-title,
.material-drawer .material-title {
  color: #03a9f4;
}
material-gridlist,
.material-gridlist {
  display: block;
  margin: 20px;
}
material-gridlist.material-view-list material-cell,
.material-gridlist.material-view-list material-cell,
material-gridlist.material-view-list .material-cell,
.material-gridlist.material-view-list .material-cell {
  display: block;
  padding: 14px 6px 14px 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
material-gridlist.material-view-list material-gridlist-headers,
.material-gridlist.material-view-list material-gridlist-headers,
material-gridlist.material-view-list .material-gridlist-headers,
.material-gridlist.material-view-list .material-gridlist-headers,
material-gridlist.material-view-list material-row,
.material-gridlist.material-view-list material-row,
material-gridlist.material-view-list .material-row,
.material-gridlist.material-view-list .material-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
material-gridlist.material-view-list material-gridlist-headers material-cell,
.material-gridlist.material-view-list material-gridlist-headers material-cell,
material-gridlist.material-view-list .material-gridlist-headers material-cell,
.material-gridlist.material-view-list .material-gridlist-headers material-cell,
material-gridlist.material-view-list material-gridlist-headers .material-cell,
.material-gridlist.material-view-list material-gridlist-headers .material-cell,
material-gridlist.material-view-list .material-gridlist-headers .material-cell,
.material-gridlist.material-view-list .material-gridlist-headers .material-cell {
  color: #787878;
  font-weight: 500;
  text-decoration: none;
}
material-gridlist.material-view-list material-gridlist-content,
.material-gridlist.material-view-list material-gridlist-content,
material-gridlist.material-view-list .material-gridlist-content,
.material-gridlist.material-view-list .material-gridlist-content {
  display: block;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px inset, rgba(0, 0, 0, 0.03) 0px -1px 0px inset, 0 1px 4px rgba(0, 0, 0, 0.25);
  background: #fff;
}
material-gridlist.material-view-list material-row,
.material-gridlist.material-view-list material-row,
material-gridlist.material-view-list .material-row,
.material-gridlist.material-view-list .material-row {
  border-bottom: 1px solid #dedede;
}
material-gridlist.material-view-list material-row:hover,
.material-gridlist.material-view-list material-row:hover,
material-gridlist.material-view-list .material-row:hover,
.material-gridlist.material-view-list .material-row:hover {
  background: #f7f7f7;
  cursor: pointer;
}
material-gridlist.material-view-list material-row material-checkbox,
.material-gridlist.material-view-list material-row material-checkbox,
material-gridlist.material-view-list .material-row material-checkbox,
.material-gridlist.material-view-list .material-row material-checkbox,
material-gridlist.material-view-list material-gridlist-headers material-checkbox,
.material-gridlist.material-view-list material-gridlist-headers material-checkbox,
material-gridlist.material-view-list .material-gridlist-headers material-checkbox,
.material-gridlist.material-view-list .material-gridlist-headers material-checkbox {
  margin: 0 8px 0 14px;
  padding: 0;
  display: block;
}
material-gridlist.material-view-list material-row material-checkbox .material-text,
.material-gridlist.material-view-list material-row material-checkbox .material-text,
material-gridlist.material-view-list .material-row material-checkbox .material-text,
.material-gridlist.material-view-list .material-row material-checkbox .material-text,
material-gridlist.material-view-list material-gridlist-headers material-checkbox .material-text,
.material-gridlist.material-view-list material-gridlist-headers material-checkbox .material-text,
material-gridlist.material-view-list .material-gridlist-headers material-checkbox .material-text,
.material-gridlist.material-view-list .material-gridlist-headers material-checkbox .material-text {
  display: none;
}
material-gridlist.material-view-list material-row material-menu-button,
.material-gridlist.material-view-list material-row material-menu-button,
material-gridlist.material-view-list .material-row material-menu-button,
.material-gridlist.material-view-list .material-row material-menu-button,
material-gridlist.material-view-list material-gridlist-headers material-menu-button,
.material-gridlist.material-view-list material-gridlist-headers material-menu-button,
material-gridlist.material-view-list .material-gridlist-headers material-menu-button,
.material-gridlist.material-view-list .material-gridlist-headers material-menu-button {
  margin: 0 4px;
}
material-gridlist-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px;
}
material-gridlist-pagination material-title {
  width: 30px;
  text-align: center;
}
body {
  font-family: 'Helvetica';
  font-size: 12px;
  background-color: #f7f7f7;
}
.page-title {
  padding-left: 64px;
  background: url(../images/logo.png) 15px center no-repeat;
  background-size: 36px 36px;
}
.main-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.page-card-content {
  flex: 1;
  overflow: auto;
  padding: 0 64px;
}
material-card material-title {
  margin: 0 20px;
  padding: 20px 0;
}
