<table cellpadding='0' cellspacing='0'>
	<thead>
		<tr>
		<%for(var col in columns){%>
			<%== view('//mxui/data/grid/views/th', {name: col, title: columns[col]}) %>
		<%}%>
		</tr>
	</thead>
	<tbody>
		<tr class='loading'>
			<td colspan='<%=count %>'>Loading ...</td>
		</tr>
		
	</tbody>
	
</table>