[submodule "steal"]
	path = steal
	url = git@github.com:SteveSmiley/steal.git
[submodule "jquery"]
	path = jquery
	url = git@github.com:SteveSmiley/jquerymx.git
[submodule "documentjs"]
	path = documentjs
	url = git@github.com:SteveSmiley/documentjs.git
[submodule "funcunit"]
	path = funcunit
	url = git@github.com:SteveSmiley/funcunit.git
[submodule "srchr"]
	path = srchr
	url = git@github.com:SteveSmiley/srchr.git
[submodule "contacts"]
	path = contacts
	url = git@github.com:SteveSmiley/contacts.git
[submodule "mxui"]
	path = mxui
	url = git@github.com:SteveSmiley/mxui.git
