<%$.each(this.options.group, function(i, group){%>
	<th class="<%= group%>-column-header"></th>
<%})%>
<%for(var name in this.options.columns){%>
	<%if($.inArray(name, this.options.group) == -1){%>
		<th class="<%= name%>-column-header <%= sortedClass(name)%>">
			<a title='sort column'>
				<span><%= this.options.columns[name] %></span>
			</a>
		</th>
	<%}%>
<%}%>
