<% // Display table with error message %>
<thead><tr>
<thead><tr>
<% for(var i=0;i < columns.length;i+=2) { %>
        <th sort='<%= columns[i] %>'
        	<% if(columns[i] == orderBy) { %>
                        <% if(descending) { %>
                                class='desc'
                        <% } else { %>
                                class='asc'
                        <% } %>
                <% } else if (columns[i]) { %>
			class='both'
		<% } %>
	>
                <%= columns[i+1] %>
        </th>
<% } %>
</tr></thead>
<tbody>
	<tr><td colspan=<%= columns.length + 1 %>><%= message %></td></tr>
</tbody>
