<% // Display table with error message %>
<%== $.View('//seccubus/finding/table/views/header.ejs', {
	columns         : columns,
	orderBy         : orderBy,
	descending      : descending,
	checked		: checked,
}) %>
<tbody>
	<tr><td colspan=<%= columns.length/2 %>><%= message %></td></tr>
</tbody>
