<%= count = 0 %>
<thead><tr>
	<th>IP</th>
	<th>Hostname</th>
	<th>Port</th>
	<th>Plugin</th>
	<th>Severity</th>
	<th>Finding</th>
	<th>Remark</th>
</tr></thead>
<tbody>
	<%for ( var i = 0; i < this.length ; i++ ){%>
		<% if(this[i].isMatch({
			scans		: fScans,
			status		: fStatus,
			host		: fHost,
			hostName	: fHostName,
			port		: fPort,
			plugin		: fPlugin,
		})) { %>
			<tr <%= this[i] %> class='sev_<%= this[i].severity %>'>
				<%== $.View('//seccubus/finding/table/views/finding.ejs', this[i] ) %>
			</tr>
			<% count++ %>
		<% } %>
	<% } %>
	<% if ( count == 0 ) { %>
		<tr><td colspan=7>No findings match you selection</td></tr>
	<% } %>
</tbody>
