<thead><tr>
	<th>IP</th>
	<th>Hostname</th>
	<th>Port</th>
	<th>Plugin</th>
	<th>Finding</th>
	<th>Remark</th>
	<th>Severity</th>
</tr></thead>
<tbody>
	<tr><td colspan=7>Please select one or more scans</td></tr>
</tbody>
