@import './components/table/table';

@import './components/nav-bar/nav-bar';
@import './components/nav-menu/nav-menu';
@import './components/status-page/status-page';
@import './components/runs-page/runs-page';
@import './components/workspaces-page/workspaces-page';
/* MARKER: insert component less files here */

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.page-host {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-view {
  padding: 16px;
}
