/* 
  Default skin CSS stylesheet
  
  $Id$
  
*/
* {
	margin: 0;
	outline: 0;
	padding: 0;
}

/* HTML 5 specific */
header,section,article,aside,footer {
	display: block;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	line-height: 14px;
	color: #000;
	background-color: #ddd;
	display: block;
}

.shell {
	margin: 0px auto;
	width: 100%;
	min-width: 700px;
}

.left { 
	width: 200px;
	left: 0px;
        margin-left: 0;
        margin-right: 0;
	float: left;
	border: 3px solid white;
}

.main { 
	margin-left: 260px;
	margin-right: 50px;
	border: 3px solid white;
}

.full {
	margin-left: 0px;
	margin-right: 50px; 
	border: 3px solid white;
	float: left;
}

a {
	cursor: pointer;
	text-decoration: underline;
}

h1 {
	font-size: 22px;
	line-height: 24px;
	color: #000;
	font-weight: normal;
}

h1 a {
	color: #000;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	line-height: 28px;
	color: #000;
	font-weight: normal;
}

header {
	background: url(img/header.gif);
	height: 78px;
	white-space: nowrap;
}

#header-logo {
	float: left;
}

#header-logo img {
	height: 50px;
	width: 50px;
	padding: 0 4px 0 0;
	margin: 14px 0;
}

#header-top {
	height: 47px;
}

#header-bottom {
	height: 30px;
}

header h1 {
	float: left;
	display: inline;
	margin-top: 12px;
}

header h2 {
	float: left;
	display: inline;
	margin-top: 12px;
	margin-left: 15px;
}

/* begin Top Navigation links */
#top-nav {
	color: #000;
	float: right;
	margin-top: 15px;
	white-space: nowrap;
}

#top-nav a {
	color: #000;
}

#top-nav span {
	color: #000;
}

/* begin Menu Navigation tabs */
#main-nav {
	float: right;
}

/* begin li.error and li.ok */
.Error {
	padding-left: 30px;
	background-image: url(img/error.png);
	background-repeat: no-repeat;
	background-position: 0.5em;
}

.OK {
	padding-left: 30px;
	background-image: url(img/ok.png);
	background-repeat: no-repeat;
	background-position: 0.5em;
}

