<runs-page layout="column" layout-fill>
  <md-content>
    <section>
      <md-subheader class="md-primary">Runs</md-subheader>

      <div class="filter-selects">
        <md-select ng-model="runsPage.selectedScan">
          <md-select-label>{{runsPage.selectedScan.name || 'Select a scan...'}}</md-select-label>
          <md-option
            ng-repeat="scan in runsPage.scanStore.items track by scan.id"
            ng-value="scan"
          >{{scan.name}}</md-option>
        </md-select>
      </div>

      <div ng-if="runsPage.runStore.isLoading" layout="row" layout-align="center center">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <md-whiteframe ng-if="!runsPage.runStore.isLoading"
                     class="md-table table-responsive-vertical md-whiteframe-z3"
                     layout layout-padding>
        <table class="table table-hover table-bordered table-condensed">
            <col>
            <col>

            <thead>
                <tr>
                    <th>Time</th>
                    <th>Attachments</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="run in runsPage.runStore.items track by run.id">
                    <td data-title="Time">{{run.time | date:'dd-MM-yyyy HH:mm'}}</td>
                    <td data-title="Attachments">{{scan.attachments}}</td>
                </tr>

                <tr ng-if="!runsPage.selectedScan">
                    <td colspan="2">Please select a scan...</td>
                </tr>

                <tr ng-if="runsPage.selectedScan && runsPage.runStore.isEmpty">
                    <td colspan="2">No runs for the selected scan yet...</td>
                </tr>
            </tbody>
        </table>
      </md-whiteframe>
    </section>
  </md-content>
</runs-page>
