<% %>
<div id='widgetsModalBoxes'>
	<div id="widgetsModalMessage">
		<%= this.message %>
	</div>
	<div id="widgetsModalMask" class="mask"></div>
	<img id='widgetsModalClose' class='widgetsModalClose close' src="img/closebox.png">
</div>
