
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Seccubus</title>

    <link href="{{ site.baseurl }}/css/app.css" rel="stylesheet" />
    <script src="{{ site.baseurl }}/js/vendor/modernizr.js"></script>
</head>
<body class="antialiased hide-extras">
    {% include navbar.html%}
    {{ content }}
    </section>
    <script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.topbar.js"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>
