---
layout: default
---
<section class="main-content article">
    <div class="large-9 medium-10 small-11 small-centered column">
        <h2>
            {{ page.title }}
        </h2>
        <div class="row documentation">
            <div class="medium-6 small-12 column">
                <h3 id="version2">Version 2</h3>
                {% for p in site.pages%}
                    <ul>
                    {% if p.category == 'documentation' and p.version == 2 %}
                        <li><a href="{{p.url}}">{{ p.title }}</a></li>
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>
            <div class="medium-6 small-12 column">
                <h3 id="version1">Version 1</h3>
                {% for p in site.pages%}
                    <ul>
                    {% if p.category == 'documentation' and p.version == 1 %}
                        <li><a href="{{p.url}}">{{ p.title }}</a></li>
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>
            <div class="small-12 column">
                <div class="faq">
                    <h3 id="faq">FAQ</h3>
                {% for p in site.pages%}
                    <ul>
                    {% if p.category == 'faq' %}
                        <li><a href="{{p.url}}">{{ p.title }}</a></li>
                    {% endif %}
                    </ul>
                {% endfor %}
                </div>
            </div>
            <div class="small-12 column">
                <div class="licence">
                    <h3>Licence</h3>
                {% for p in site.pages%}
                    <ul>
                    {% if p.category == 'licence' %}
                        <li><a href="{{p.url}}">{{ p.title }}</a></li>
                    {% endif %}
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
