
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css" id="rel">
        <script src="//use.typekit.net/jpd2bkc.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <div class="container">
            <div class="nav"></div>
            <div class="content">
                <article>
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </article>
            </div>
        </div>
    </body>
</html>
