---
layout: default
---
<section class="main-content article">
    <div class="large-9 medium-10 small-11 small-centered column">
        <h2>
            {{ page.title }}
        </h2>
        <span class="published">
            {{ page.date | date_to_long_string}}
            {% if page.author %}
            <span class="author">{{ page.author }}</span>
            {% endif %}
        </span>
        <div class="content post">
            {{ content }}
        </div>
        <div class="readmore pagination">
            {% if page.next.url %}
            <a class="newer" href="{{ page.next.url }}">
                {{ page.next.title }}
            </a>
            {% endif %}
            {% if page.previous.url %}
            <a class="older" href="{{ page.previous.url }}">
                {{ page.previous.title }}
            </a>
            {% endif %}
        </div>
    </div>
</section>
