<% %>
<td><%= name %></td>
<td><%= scanCount %></td>
<!-- <td><%= findCount %></td> -->
<td><%= lastScan %></td>
<td>
  <a href='javascript://' class='edit'>Edit</a>
  <% if ( true || scanCount != "0" ) { %>
    &nbsp
  <% } else { %>
    <a href='javascript://' class='destroy'>Delete</a>
  <% } %>
</td>
