<h2>workspaces</h2>
<table cellspacing='0px'>
	<thead>
	<tr>
		<% for(var attr in Seccubus.Models.Workspace.attributes){%>
			<% if(attr == 'id') continue;%>
			<th><%= attr%> </th>	 
		<%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%= $.View('//seccubus/views/workspace/list',{workspaces: workspaces})%>
	</tbody>
</table>
<h2>New workspace</h2>
<form>
	<% for(var attr in Seccubus.Models.Workspace.attributes){ %>
		<% if(attr == 'id') continue;%>
		<div>
			<label><%= attr %> </label><br />
			<input type="text" value="" name="<%= attr %>"/>
		</div>
	<%}%>
	<input type='submit' value='Create'/>
</form>