<% %>
<input type=hidden name='id' value='<%= id %>'/>
<label for='name'>Name:</label><input type='input' name='name' id='name' value='<%= name %>'/>
<input type='submit' value='Update'/>
<input type='button' class="cancel" value='Cancel'/>
